.btnn{
    font-size: 20px;
    padding: 1px 10px 1px 10px;
    border: 2px solid #0ab69f;
    background-color:#0ab69f;
    color: white;
    width: fit-content !important;
    cursor: pointer;

}
.btnn:hover{
    background-color:transparent;
    color:#0ab69f;
}