.landing{
    background-image: url("img/studentImg/pexels-paul-ijsendoorn-1181202.jpg");
    background-position: center;
    background-size: cover;
}
.landingLogo{
    filter: invert(1);
}
.landingBtn{
    font-size: 20px;
    padding: 1px 10px 1px 10px;
    border: 2px solid #ff9801;
    background-color:#ff9801;
    color: #faebd7bd;
    width: fit-content !important;
}
.landingBtn:hover{
    background-color:transparent;
    color:#ff9801;
}
.train{
    filter: blur(1.5px);
}
.linkLanding:hover{
    color:#ff9801 !important;
}