.backgroundLoginAdmin{
    position: absolute;
    top:0; 
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: darkcyan;
}
.AppForm .AppFormLeft h1 {
    font-size: 35px;
  }
  .AppForm .AppFormLeft input:focus {
    border-color: #ced4da;
  }
  .AppForm .AppFormLeft input::placeholder {
    font-size: 15px;
  }
  .AppForm .AppFormLeft i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  .form-control:hover,
  .form-control::selection, 
  .form-control:active  {
    border: 2px #3a3e42 solid !important;
    cursor: pointer;
  }
  .form-control:hover::placeholder{
    font-size: small !important;
    top: 0 !important;
    left: 0 !important;
  }
  .AppForm .AppFormLeft a {
    color: #3a3e42;
  }
  .btnAdminLogin {
    background: linear-gradient(45deg, #cdcdcd, #9a9a9a) ;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
  .btnAdminLogin:hover {
    letter-spacing: 5px;
    font-size: large;
  }
  .AppForm .AppFormLeft p span {
    color: #007bff;
  }
  .AppForm .AppFormRight {
    background:linear-gradient(45deg, #021f12, transparent,#042013);
    height: 450px;
    background-size: cover;
    background-position: center;
  }
  .AppForm .AppFormRight h2,p {
    z-index: 1;
  }
