.bgMetro{
    background-color: #6c193d !important;
}
.colorMetro{
color: #c1306f !important;
}
.metroActive{
    background-color:#c1306f;
    border: none solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px 85px  5px 45px;
    margin-left: -30px;
}
.mainWrapperMetro{
    align-items: stretch;
display: flex;
overflow: hidden;
position: relative;
width: 100%;
}
.mainWrapperMetro::before{
    content:" ";
    background-color:#6c193d;
    height: 93px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
