.background {
    position: absolute;
    top:0; 
    left: 0;
    height: fit-content;
    width: 100%;
    z-index: -1;
    background-color: #dedede;
}

.file {
    display: none;
}
.idPhoto,
.personalPhoto {
    display: block;
    cursor: pointer;
    background-color: ffe37f;
    color: #757575;
    width: 250px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.275);
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.row .idPhoto:focus,
.row .idPhoto:hover,
.row .idPhoto::selection{
    outline: 2px solid #ffe37f;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}
.row .idPhoto::after {
    position: relative;
    content: "UPLOAD";
    right: -110px;
    top: 2px;
    padding: 5px;
    background-color: #65e1e0;
    color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: small;

}
.row .personalPhoto::after{
    position: relative;
    content: "UPLOAD";
    right: -46px;
    padding: 5px;
    background-color: #65e1e0;
    color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    font-size: small;
}
.row .personalPhoto:focus,
.row .personalPhoto:hover,
.row .personalPhoto::selection{
    outline: 2px solid #0ab6a1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    cursor: pointer;
}