.verifyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.otpInput{
    border: none;
    border-bottom: 3px solid rgba(128, 128, 128, 0.764);
    width: 50px;
    margin: 5px;
    background-color: transparent;
}