.navbar .navbar-toggler {
  color: black;
  border-color: #878787;
}

.navbar .navbar-toggler::-moz-selection {
  border: 2px solid #878787;
}

.navbar .navbar-toggler:focus,
.navbar .navbar-toggler:hover,
.navbar .navbar-toggler::selection {
  border: 2px solid #878787;
}

.navbar .navbar-nav .nav-link {
  color: #878787;
}

.navbar .navbar-nav .nav-link::-moz-selection {
  color: black;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link::selection {
  color: black;
}

.btnn {
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  border: 2px solid #0ab69f;
  background-color: #0ab69f;
  color: white;
  width: -moz-fit-content !important;
  width: fit-content !important;
  cursor: pointer;
}

.btnn:hover {
  background-color: transparent;
  color: #0ab69f;
}

.dashBtnn {
  font-size: 15px;
  padding: 1px 10px 1px 10px;
  border: 2px solid #153d77;
  background-color: #153d77;
  color: white;
  width: -moz-fit-content !important;
  width: fit-content !important;
  cursor: pointer;
  font-weight: 400;
}

.dashBtnn:hover {
  background-color: transparent;
  color: #153d77;
}

.eduBtnn {
  font-size: 15px;
  padding: 1px 10px 1px 10px;
  border: 2px solid #197278;
  background-color: #197278;
  color: white;
  width: -moz-fit-content !important;
  width: fit-content !important;
  cursor: pointer;
  font-weight: 400;
}

.eduBtnn:hover {
  background-color: transparent;
  color: #197278;
}

.metoBtnn {
  font-size: 15px;
  padding: 1px 10px 1px 10px;
  border: 2px solid #c1306f;
  background-color: #c1306f;
  color: white;
  width: -moz-fit-content !important;
  width: fit-content !important;
  cursor: pointer;
  font-weight: 400;
}

.metoBtnn:hover {
  background-color: transparent;
  color: #c1306f;
}

.stdInput {
  width: 250px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.275);
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

.row .stdInput::-moz-selection {
  outline: 2px solid rgba(124, 222, 129, 0.7333333333);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.row .stdInput:focus,
.row .stdInput:hover,
.row .stdInput::selection {
  outline: 2px solid rgba(124, 222, 129, 0.7333333333);
  border-radius: 10px;
  -webkit-border-radius: 10px;
}

.moving-card {
  background-color: #eee;
  padding: 15px;
  min-height: 100%;
  border: 2px solid transparent;
  border-radius: 5%;
}

.right-side {
  background-color: white;
}

.logIn {
  width: 100%;
  padding: 25px;
}

.inputStyle {
  border: none;
  border-bottom: 3px solid #ddd;
  width: 100%;
  margin: 5px;
  background-color: transparent;
}

.inputStyle:focus {
  outline: none !important;
  border: none;
  border-bottom: 3px solid #0ab69f;
  width: 100%;
  margin: 5px;
  background-color: transparent;
}

.inputStyle:focus::-moz-placeholder {
  color: transparent;
}

.inputStyle:focus::placeholder {
  color: transparent;
}

.inputStyle:hover::-moz-placeholder {
  color: #0ab69f;
  position: absolute;
  top: -5px;
  left: 0;
}

.inputStyle:hover::placeholder {
  color: #0ab69f;
  position: absolute;
  top: -5px;
  left: 0;
}

.logIn-signUpForm {
  display: flex;
  border: 2px solid #bbdae8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;
  border-radius: 5%;
  box-shadow: 4px 5px rgba(136, 136, 136, 0.1882352941);
}

#gender {
  height: 25px;
  background: #eee;
  border: 2px solid #888888;
  margin-top: 15px;
}

.hide {
  display: none;
}

.verifyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.otpInput {
  border: none;
  border-bottom: 3px solid rgba(128, 128, 128, 0.764);
  width: 50px;
  margin: 5px;
  background-color: transparent;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  z-index: -1;
  background-color: #eeeeee;
}

.file {
  display: none;
}

.idPhoto,
.personalPhoto {
  display: block;
  cursor: pointer;
  background-color: white;
  color: #757575;
  width: 250px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.275);
  border-radius: 8px;
  -webkit-border-radius: 8px;
}

.row .idPhoto::-moz-selection {
  outline: 2px solid #0ab6a1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.row .idPhoto:focus,
.row .idPhoto:hover,
.row .idPhoto::selection {
  outline: 2px solid #0ab6a1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.row .idPhoto::after {
  position: relative;
  content: "UPLOAD";
  right: -50px;
  top: 2px;
  padding: 7px;
  background-color: #0ab6a1;
  color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  font-size: small;
}

.row .personalPhoto::after {
  position: relative;
  content: "UPLOAD";
  right: -166px;
  top: -23px;
  padding: 7px;
  background-color: #0ab6a1;
  color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  font-size: small;
}

.row .personalPhoto::-moz-selection {
  outline: 2px solid #0ab6a1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.row .personalPhoto:focus,
.row .personalPhoto:hover,
.row .personalPhoto::selection {
  outline: 2px solid #0ab6a1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  cursor: pointer;
}

.navbar .navbar-nav .profileLogOut::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 35px;
  background-color: #878787;
  top: 12px;
  right: 5px;
  left: 0;
}

.logoutIcon::-moz-selection {
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.logoutIcon::selection,
.logoutIcon:focus,
.logoutIcon:hover {
  border: 2px solid black;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.profileImage img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.profileImage img::-moz-selection {
  cursor: pointer;
  border: 2px solid rgba(124, 222, 129, 0.7333333333);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profileImage img:focus,
.profileImage img:hover,
.profileImage img::selection {
  cursor: pointer;
  border: 2px solid rgba(124, 222, 129, 0.7333333333);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.requestProfile .statueTable {
  width: 100%;
  height: 10px;
  background-color: rgba(135, 135, 135, 0.4509803922);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  outline: 1px solid #878787;
}

.landing {
  background-image: url("img/studentImg/pexels-paul-ijsendoorn-1181202.jpg");
  background-position: center;
  background-size: cover;
}

.landingLogo {
  filter: invert(1);
}

.landingBtn {
  font-size: 20px;
  padding: 1px 10px 1px 10px;
  border: 2px solid #ff9801;
  background-color: #ff9801;
  color: rgba(250, 235, 215, 0.7411764706);
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.landingBtn:hover {
  background-color: transparent;
  color: #ff9801;
}

.train {
  filter: blur(1.5px);
}

.linkLanding:hover {
  color: #ff9801 !important;
}

.mainWrapper {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mainWrapper::before {
  content: " ";
  background-color: #153d77;
  height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.mainWrapperReq::before {
  height: 93px !important;
}

.toggled {
  margin-left: 0 !important;
}

.sidebar {
  margin-left: -250px;
  background-color: #153d77;
  max-width: 250px;
  border-right: 1px solid #fff;
  min-width: 250px;
  transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
  z-index: 2;
  -webkit-transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
  -moz-transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
  -ms-transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
  -o-transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
}

.sidebar-brand {
  background-color: #153d77;
  color: white;
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
  width: 100%;
}

.sidebar-content {
  background-color: #153d77;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  transition: margin-left 0.4s ease-in-out, left 0.4s ease-in-out, margin-right 0.4s ease-in-out, right 0.4s ease-in-out;
}

.sidebar-user {
  background-color: #153d77;
  color: #fff;
  padding: 1.5rem 1rem 1rem;
  text-align: center;
}

.sidebar-nav {
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0%;
  padding: 0;
}

.sidebar-item {
  list-style: none !important;
  padding: 5px;
}

.sidebar-link {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  display: block;
  font-size: 20px;
  padding: 10px;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  min-width: 0;
}
@media (max-width: 767px) {
  .main {
    min-width: 100vw;
    overflow-y: hidden;
    width: 100vw;
  }
}

.calender {
  top: -20px;
  width: 70%;
  position: relative;
  height: 400px;
}

.dashLinkActive {
  background-color: #2062a4;
  border: none;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 5px 85px 5px 30px;
  margin-left: -30px;
}

.reqActive {
  padding-left: 3px;
  padding-bottom: 15px;
  border-bottom: 3px rgba(0, 0, 0, 0.5882352941) solid !important;
  border-radius: 5px;
  color: #000000 !important;
}

h3:hover {
  color: black !important;
}

.adminSearch {
  border: solid 3px #eee;
}

.adminSearch:hover::-moz-placeholder {
  color: black;
}

.adminSearch:hover::placeholder {
  color: black;
}

.adminSearch:focus::-moz-placeholder {
  color: transparent;
}

.adminSearch:focus::placeholder {
  color: transparent;
}

.eduInfo {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 10px !important;
}

.eduInfoInput {
  width: 50%;
  border: none;
  border-bottom: 1px solid #525252;
}

.eduInfoInput::-moz-placeholder {
  font-size: medium;
}

.eduInfoInput::placeholder {
  font-size: medium;
}

.bgMetro {
  background-color: #6c193d !important;
}

.colorMetro {
  color: #c1306f !important;
}

.metroActive {
  background-color: #c1306f;
  border: none solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 5px 85px 5px 45px;
  margin-left: -30px;
}

.mainWrapperMetro {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mainWrapperMetro::before {
  content: " ";
  background-color: #6c193d;
  height: 93px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.bgEdu {
  background-color: #283d3b !important;
}

.colorEdu {
  color: #197278 !important;
}

.eduActive {
  background-color: #197278;
  border: none solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 5px 85px 5px 45px;
  margin-left: -30px;
}

.mainWrapperEdu {
  align-items: stretch;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mainWrapperEdu::before {
  content: " ";
  background-color: #283d3b;
  height: 93px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.backgroundLoginAdmin {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: darkcyan;
}

.AppForm .AppFormLeft h1 {
  font-size: 35px;
}

.AppForm .AppFormLeft input:focus {
  border-color: #ced4da;
}

.AppForm .AppFormLeft input::-moz-placeholder {
  font-size: 15px;
}

.AppForm .AppFormLeft input::placeholder {
  font-size: 15px;
}

.AppForm .AppFormLeft i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.form-control::-moz-selection {
  border: 2px #3a3e42 solid !important;
  cursor: pointer;
}

.form-control:hover,
.form-control::selection,
.form-control:active {
  border: 2px #3a3e42 solid !important;
  cursor: pointer;
}

.form-control:hover::-moz-placeholder {
  font-size: small !important;
  top: 0 !important;
  left: 0 !important;
}

.form-control:hover::placeholder {
  font-size: small !important;
  top: 0 !important;
  left: 0 !important;
}

.AppForm .AppFormLeft a {
  color: #3a3e42;
}

.btnAdminLogin {
  background: linear-gradient(45deg, #cdcdcd, #9a9a9a);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.btnAdminLogin:hover {
  letter-spacing: 5px;
  font-size: large;
}

.AppForm .AppFormLeft p span {
  color: #007bff;
}

.AppForm .AppFormRight {
  background-image: url("https://i.ibb.co/tDLqQtj/bg.jpg");
  height: 450px;
  background-size: cover;
  background-position: center;
}

.AppForm .AppFormRight:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #8d334c, #cf6964);
  opacity: 0.5;
}

.AppForm .AppFormRight h2 {
  z-index: 1;
}

.AppForm .AppFormRight h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.AppForm .AppFormRight p {
  z-index: 1;
}

body {
  font-family: "Montserrat", sans-serif;
}/*# sourceMappingURL=main.css.map */